.signup, .login{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
    color: blueviolet;
}

.auth-toggle-link{
    margin-top: 20px;
    color: blueviolet;
    font-size: 14px;
    text-align: left;
    cursor: pointer;
}

